In [41]:
import os
import csv
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [7]:
# Set path for file
file01= "city_data.csv"
file02="ride_data.csv"

In [8]:
city=pd.read_csv(file01, encoding="utf-8")
rides=pd.read_csv(file02, encoding="utf-8")

In [9]:
city.head()

             city  driver_count   type
0      Kelseyland            63  Urban
1      Nguyenbury             8  Urban
2    East Douglas            12  Urban
3   West Dawnfurt            34  Urban
4  Rodriguezburgh            52  Urban

In [10]:
rides.head()

          city                 date   fare        ride_id
0     Sarabury  2016-01-16 13:49:27  38.35  5403689035038
1    South Roy  2016-01-02 18:42:34  17.49  4036272335942
2  Wiseborough  2016-01-21 17:35:29  44.18  3645042422587
3  Spencertown  2016-07-31 14:53:22   6.87  2242596575892
4   Nguyenbury  2016-07-09 04:42:44   6.28  1543057793673

In [13]:
merged= pd.merge(city, rides, on="city")
merged.head()

         city  driver_count   type                 date   fare        ride_id
0  Kelseyland            63  Urban  2016-08-19 04:27:52   5.51  6246006544795
1  Kelseyland            63  Urban  2016-04-17 06:59:50   5.54  7466473222333
2  Kelseyland            63  Urban  2016-05-04 15:06:07  30.54  2140501382736
3  Kelseyland            63  Urban  2016-01-25 20:44:56  12.08  1896987891309
4  Kelseyland            63  Urban  2016-08-09 18:19:47  17.91  8784212854829

In [14]:
total_rides=len(rides["ride_id"].unique())
total_cities= len(merged["city"].unique())
print(total_rides, total_cities)

2375 125

In [60]:
# average fare per ci
grp = merged.groupby(['city'])
grp.head()
average_fare_per_city=grp["fare"].mean()
total_rides_per_city= grp["ride_id"].count()
total_drivers=grp["driver_count"].unique()
city_type=grp["type"].unique()
data=pd.DataFrame({"city type" :city_type,"number of drivers per city":total_drivers, 
                   "total rides per city" : total_rides_per_city, 
                   "Average Fare ($) Per City":average_fare_per_city
                          } )



data.head()
#data['number of drivers per city'] = pd.to_numeric(data['number of drivers per city'])


#data.plot(kind="scatter", x="total rides per city",y="number of drivers per city", 
       #   grid=True, figsize=(20,10),title="Pyber analysis")

,Average Fare ($) Per City,city type,number of drivers per city,total rides per city
city,,,,
Alvarezhaven,23.928710,[Urban],[21],31
Alyssaberg,20.609615,[Urban],[67],26
Anitamouth,37.315556,[Suburban],[16],9
Antoniomouth,23.625000,[Urban],[21],22
Aprilchester,21.981579,[Urban],[49],19

In [61]:
data["number of drivers per city"] = pd.to_numeric(data["number of drivers per city"])

TypeError: Invalid object type at position 0

In [50]:
#total rides per city
total_rides_per_city= grp["ride_id"].count()

In [51]:
#total number of drivers per city
total_drivers=grp["driver_count"].unique()

In [47]:
city_type=grp["type"].unique()

In [52]:
#data=pd.DataFrame({"city type" :city_type,"number of drivers per city":total_drivers, 
 #                  "total rides per city" : total_rides_per_city, 
  #                 "Average Fare ($) Per City":average_fare_per_city
   #                       } )

#data.plot(kind="scatter", x="number of drivers per city", y="total rides per city", 
 #         grid=True, figsize=(20,10),title="Pyber analysis")

In [53]:
#plt.scatter(x_axis, data, marker="o", facecolors="red", edgecolors="black",
        #    s=x_axis, alpha=0.75)

#plt.scatter(data["number of drivers per city"],data["total rides per city"])